body {
    background-image:url(https://previews.123rf.com/images/saenal78/saenal781604/saenal78160400026/55028613-fast-food-seamless-hand-drawn-fond-alimentaire-mod%C3%A8le-de-base-pour-votre-conception-vector-illustrat.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    
}

